    <html>
        <head>
            <style type ="text/css">
                body {background-image: url("/img/blur7.jpg");}
                #submit {text-align: center;}
                #note {
                      background-color: rgba(255, 255, 255, 0.2);
                      border: 2px solid snow;
                      opacity: 0.7;
                      background-size: 36px 18px, 36px 18px;
                      background-repeat: repeat-y, repeat;
                      box-shadow:0 0 1px rgba(0, 0, 0, 0.3);
                      margin-left: 350px;
                      margin-right: 350px;
                      font-size: 20px;
                      padding-top: 1000x;
                    }
                    
                    h1{
                        font-size: 40px;
                        font-family: 'Futura';
                        color: #fff;
                        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
                        text-align: center;
                        }
            </style>
        </head>
     
<body>
    

<div id="note">
<center><h1><br><strong>동 행</strong><br><br></h1> 
  <%=form_for :together, url: {:action=>"create"} do |f| %>
        <p>
            <%=f.label :title2,"TITLE"%> <%= f.text_field :title2, autofocus: true, autocomplete: "title",:placeholder => 'Enter Title'%><br>
        </p>
        
        <p>
        <div class="field">
            <%=f.label :date2,"DATE"%>&nbsp; &nbsp;<%= f.date_field :date2%><br>
        </div>
      
        <p>
        <p class="title">내용</p>
            <%=f.text_area :content2 ,:size =>'50x30'%>
        </p>
        </center>
       <center>
        <div class="actions">
            <%= f.submit "OK", :type => :image, :src => "/img/ok_button.png", class: 'button' %>&nbsp;&nbsp;
            <%= f.submit "Cancel", :type => :image, :src =>"/img/cancel_button.png", class: 'button' %>
            </div>
            </center>
    <% end %>
    <br><br>

</center>
</div>
<br><br><br><br><br>
</body>

</html>
