    <html>
      <head>
        <style type ="text/css">
            body {background-image: url("/img/blur10.jpg"); background-size: cover;} 
            .table{
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                text-align: center;
                padding: 20px;
            }  s
        </style>
     </head>
    
<body>
    
&nbsp;&nbsp;
  <center><a href="/reviews/review_new"><img src="/img/pencil-edit-button.png" width="25" height="25"></a></center><br>
  <center>
   <table class="table">
  <tr>
    <th>Title</th>
    <th>id</th>
    <th>Content</th>
    <th>Date</th>
    <th>Author</th>
    <th>Score</th>
  </tr>
 
  <% @reviews.each do |review| %>
    <tr>
      
      <td><%= review.title %></td>
      <td><%= review.country_id%></td><br\>
      <td><%= review.content%></td>
      <td><%= review.date%></td>
      <td><%= review.author%></td>
      <td><%= review.score %></td>
      <td><a href="/reviews/destroy/<%=review.id%>">Destroy</a></td>
      <td><%#= link_to 'Destroy', reviews_path(review),
                :method => :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <td><%#= link_to 'Destroy',
                :controller => "reviews",
                :action => "destroy",
                :method => "delete",
                :id => "9",
                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table></center>
</div>
<center><div>
<br><br><br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src= "https://image.flaticon.com/icons/svg/197/197374.svg" width="80" height="80">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src= "https://image.flaticon.com/icons/svg/197/197484.svg" width="80" height="80">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src= "https://image.flaticon.com/icons/svg/197/197611.svg" width="80" height="80">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src= "https://image.flaticon.com/icons/svg/197/197561.svg" width="80" height="80">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://ko.wikipedia.org/wiki/%EC%95%84%EB%A5%B4%ED%97%A8%ED%8B%B0%EB%82%98" target= "_blank"><img src= "https://image.flaticon.com/icons/svg/197/197599.svg" width="80" height="80"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "https://ko.wikipedia.org/wiki/%EC%98%81%EA%B5%AD" target= "_blank"><img src= "https://image.flaticon.com/icons/svg/197/197485.svg" width="80" height="80"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://ko.wikipedia.org/wiki/%EB%8F%85%EC%9D%BC"><img src= "https://image.flaticon.com/icons/svg/197/197571.svg" width="80" height="80"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href= "https://ko.wikipedia.org/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD" target= "_blank"><img src= "https://image.flaticon.com/icons/svg/197/197582.svg" width="80" height="80"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://ko.wikipedia.org/wiki/%EB%B8%8C%EB%9D%BC%EC%A7%88" target= "_blank"><img src= "https://image.flaticon.com/icons/svg/197/197386.svg" width="80" height="80"></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://ko.wikipedia.org/wiki/%EC%BA%90%EB%82%98%EB%8B%A4" target="_blank"><img src= "https://image.flaticon.com/icons/svg/197/197430.svg" width="80" height="80"></a>
</div></center>
</body>

