    <html>
        <head>
            <style type ="text/css">
        h1 {font-size: 40px;}
        body {background-color: rgba(3, 89, 174, 0.5);
            .table {
                border-radius: 10px;
                background-color: white;
                text-align: center;
                padding: 20px;
                }  
        table {background-color: white;}
     </style>
     </head>

    <center><h1><strong>Review</strong><br></h1> 
    <%=form_for :review, url: {:action=>"create"} do |f| %> 
 
          
         <p>
            <div class = "score_new">
                별점 주기 :
                <%=f.radio_button :score, 1, :score_id => "score_one"%><label for ="score_one", title="1점">1점</label>                                                                                                                
                <%=f.radio_button :score, 2, :score_id => "score_two"%><label for ="score_two", title="2점">2점</label>
                <%=f.radio_button :score, 3, :score_id => "score_three"%><label for ="score_three", title="3점">3점</label>
                <%=f.radio_button :score, 4, :score_id => "score_four"%><label for ="score_four", title="4점">4점</label>
                <%=f.radio_button :score, 5, :score_id => "score_five"%><label for ="score_five", title="5점">5점</label>
            </div>     
        </p>
        
        <p><br>
            <%= f.label :country_id, "나라"%><br/><br>
            <%= f.select :country_id, [["미국", 1], ["일본", 2], ["베트남", 3], ["말레이시아", 4], ["중국", 5],
            ["영국", 6], ["프랑스",7], ["이탈리아",8], ["인도",9], ["핀란드", 10]],{}, {class: "form-control"} %>
        </p> 
         
        <p>
            <%=f.label :title,"제목"%><br/><br>
            <%= f.text_field :title, autofocus: true, autocomplete: "title",:placeholder => '제목'%><br><br>
        </p>
        <p>
        <div class="field">
            <%=f.label :author,"작성자"%><br/><br>
            <%= f.text_field :author, autofocus: true, autocomplete: "author",:placeholder => '작성자'%><br><br> 
        </div>
        </p>
        <p>
        <div class="field">
            <%=f.label :date,"날짜"%><br/><br>
            <%= f.date_field :date%><br><br>
        </div>
        <p><class="title">내용<br><br>
        <textarea name="post_content" rows="20" cols="100" class="form-control3" id="exampleFormControlTextarea1"></textarea><br><br>
        </p>
        <div class="actions">
            <%= f.submit "OK", class: 'button' %>
            <button id=1><a href="/">Cancel</button></a>
            </div>
    <% end %>

</center>

 
