<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<link href="https://fonts.googleapis.com/css?family=Poiret+One|Poor+Story" rel="stylesheet"><style>
  ul li {
    float: right;
    list-style: none;
    font-family: 'Poiret One', 'Poor story', cursive;
    padding: 12px; 
  }
  
  li a {
      display: block;
      color: #EBE5D9;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-weight: 900;
  }
  
  .nav:hover {
    color: #0fc9e7;
text-shadow: 0 0 5px rgba(255, 255, 255, 1) , 0 0 10px rgba(255, 255, 255, 1) , 0 0 0px #ffffff , 0 0 0px #ffffff , 0 0 0px #ffffff , 0 0 0px #ffffff;
}


  #logo {float: left; font-size: 30px; font-weight: 1000; 
  text-shadow: 1px 0px 3px #eff0f4, 2px 0px 3px #eff0f4, 3px 0px 3px #eff0f4, 2px 0px 2px #eff0f4, }
  #logo:hover {
    text-shadow: 1px 0px 3px #eff0f4, 2px 0px 3px #eff0f4, 
                3px 0px 3px #eff0f4, 2px 0px 2px #eff0f4, 
                2px 3px 10px #eff0f4, 2px 0px 10px, 
                1px 0px 20px, 0px 0vw 0px #eff0f4,
                0px 0vw 0px #0fc9e7;}
  
  #da {color: #eff0f4;}
  #haeng {color:#0fc9e7 ;}
  
  .nb {
	background: transparent;
	border-bottom: none;
	list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
}

.navbar-scroll {
	background: pink;
	padding: 0;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
}
#image {height: 40px; width: 40px;}
#image:hover {height: 42px; width: 42px;}

</style>

</head>
<body>
<nav class="nb navbar-default navbar-fixed-top top" id="myScrollspy">
<ul>
  <li><a href="/home/profile"><img src="/img/profile.png"id="image"></a></li>
  <li class="nav-item">
                      <%if user_signed_in?%>
                        <%=current_user.email%>
                        <%=link_to 'LOGOUT',destroy_user_session_path,method: 'delete'%>
                      <%else%>
                        <%=link_to 'LOGIN ▶',new_user_session_path%>
                        <%=link_to 'SIGNIN ▶',new_user_registration_path %>
                      <%end%>
        </li>
  <li><a href="#about" class="nav">About</a></li>
  <li><a href="/togethers/index" class="nav">Together</a></li>
  <li><a href="/home/safety" class="nav">Safety</a></li>
  <li><a href="/reviews/index" class="nav">Review</a></li>
  <li id="logo"> <a href="/" data-transition: "pop"> <span id="da">DA</span><span id="haeng">HAENG</span></a></li>
</ul>
</nav>

<script type="text/javascript">
$(function(){
	var navbar = $('.nb');
	
	$(window).scroll(function(){
		if($(window).scrollTop() <= 40){
			navbar.removeClass('navbar-scroll');
			$('.top').hide();
		} else {
			navbar.addClass('navbar-scroll');
			$('.top').show();
		}
	});

});

</script>

<p class="notice"><%=notice%></p>
    <p class="alert"><%=alert%></p>
    <%= yield %>
</body>
</html>

